@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;700&display=swap');


.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-top: 0px;
}

.content-card {
    padding: 100px 0 0;
}

.container {
    font-family: 'Mukta', sans-serif;
    background-color: #c4dff6;
    min-height: 100vh;
    display: contents;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 360px;

}

#ul {
    list-style: none;
}

/*----------------*/
.infos,
.skills {
    background-color: var(--background-color-a);
    padding: 1.3rem;
    position: relative;
    box-shadow: 0 10px 15px var(--background-color-e);
}

.infos,
.infos img,
.skills {
    border-radius: 1rem;
}

.top-icon {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #7f7f7f;
    font-size: .9rem;
}

.infos .name,
.infos .location,
.skills .title,
.skill .skill-infos h3 {
    text-transform: uppercase;
}

.infos,
.skill,
.list-tags {
    display: flex;
}

/* Infos */
.infos {
    align-items: center;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.infos img {
    width: 5rem;
    margin-right: 1.3rem;
    box-shadow: 0 0 10px #f0ddd8;
}

.name {
    font-size: 1.2rem;
}

.location {
    font-size: .7rem;
    word-spacing: .2rem;
    font-weight: normal;
}

.location i {
    color: #f2d1e1;
}

.title {
    margin-bottom: 1rem;
}

.skills {
    align-items: center;
    margin-bottom: .7rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    font-size: 1.5rem;
    transform: translateY(.3rem);
}


.skill.css3 .icon {
    color: #0078c3;
}

.skill.js .icon {
    color: #fcdf36;
}

.skill .skill-infos {
    margin-left: .6rem;
    flex-grow: 1;
}

.skill .skill-infos h3 {
    transform: scaleY(.85);
    font-weight: normal;
}

.skill .bar {
    height: .3rem;
    background-color: #e4e9ef;
    border-radius: 5px;
    position: relative;
}

.skill .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #6dd594;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #6dd59455;
}

.skill.html5 .progress {
    width: 70%;
}

.skill.css3 .progress {
    width: 40%;
}

.skill.js .progress {
    width: 55%;
}

.skills .line {
    margin: 2.5rem 0;
    border: none;
    height: 2px;
    background-color: #e9edf2;
}

.list-tags {
    flex-wrap: wrap;
}

.list-tags li {
    cursor: pointer;
    background-color: #e4e9ef;
    padding: .5rem .8rem;
    border-radius: 20px;
    margin: 0 .5rem .5rem 0;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all .2s linear;
}

.list-tags li:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}




.animation {
    background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
    position: relative;
    height: 30rem;
    width: 100%;
    margin: 0;
    margin-bottom: 5%    
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

.h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    letter-spacing: 1vw;
    position: absolute;
    top: 15vh;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: url('https://i.pinimg.com/originals/9f/9c/c5/9f9cc5217bb04790e5fb852b665ca2ff.jpg');
    background: url('https://i.pinimg.com/564x/4a/d0/00/4ad000975d359c7dd60c17b573fb327f.jpg');
  background-size: cover;
    background-clip: text;
 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}

.h1:nth-child(2) {
    top: 50vh;
}

@keyframes shine {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 200%;
    }
}