.body {  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: blue;   
}

.ul { grid-area: 4 / 4 / 5 / 5; 
background-color: rgb(58, 46, 46);}


.li {
  font-size: 25px;
  text-align: center;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
  display: flex;
  align-items: center; 
  height: 10vh;
  width: 10vh;
}

.li::before,
.li::after {
  content: '';
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: rgb(2, 51, 16);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
  top: calc(50% - 0.6em / 2);
}

.li::before {left: 0; z-index: -1;}
.li::after {right: 0; z-index: -2;}

.li:hover {
  color: white;
}
/*_____BUTTON_1_________*/
#body1, #p1  {
  background: darkslateblue;
  
}

#p1:hover::before,
#p1:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:  darkslateblue;
}
/*_____BUTTON_2_________*/
#body2, #p2  {
  background: darkred;
}

#p2:hover::before,
#p2:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:  rgb(177, 94, 94);
}

/*_____BUTTON_3_________*/
#body3, #p3  {
  background: gold;
}
#p3:hover::before,
#p3:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:  gold;
}
/*_____BUTTON_4_________*/
#body4, #p4  {
  background: rgb(82, 73, 4);
}
#p4:hover::before,
#p4:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:  darkblue;
}
#p5:hover::before,
#p5:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:  brown;
}
/*_____BUTTON_5_________*/
#body5,#p5  {
  background: gold;
  
}
.li:hover::before {
  top: 0;
}
.li:hover::after {
  right: -0.4em;
  filter: brightness(0.8);
}


.parent {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: red;
  }
  
  .div1 { grid-area: 1 / 1 / 17 / 17; 
  background-color: blue;}
  .div2 { grid-area: 4 / 2 / 14 / 4; 
  background-color: aqua;}
  .div3 { grid-area: 3 / 5 / 15 / 15; 
  background-color: green;}
  .div4 { grid-area: 4 / 2 / 6 / 4; 
  background-color: coral;}