.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.footer {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
  }
}