.paper.one {
    background-color: #ffadad;
}
.paper.two {
    background-color: #ffd6a5;
}
.paper.three {
    background-color: #fdffb6;
}
.paper.four {
    background-color: #9bf6ff;
}

.container {
    background-color: #1e1f26;
}
.folder {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFD485;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.folder:before {
    width: 55px;
    height: 25px;
    border-radius: 5px;
    content: '';
    background-color: #FFD485;
    position: absolute;
    top: -10px;
    left: 0px;
}

.folder:after {
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    content: '';
    transform: skew(0deg);
    background-color: #ffe1a8;
    transition: all 0.2s;
}

.paper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 190px;
    height: 140px;
    transition: all 0.2s;
}

.folder:hover {
    transform: skew(-20deg);
    margin-left: 25px;
}
.folder:after {
    transform: skew(-20deg);
    margin-left: 25px;
    .folder:nth-child(1) {
        transform: rotate(10deg) translate(-80px, -80px);
    }
    
}


/* Adding paper animation */

.folder:nth-child(2) {
    transform: rotate(20deg) translate(-80px, -80px);
}

.folder:nth-child(3) {
    transform: rotate(30deg) translate(-80px, -80px);
}

.folder:nth-child(4) {
    transform: rotate(40deg) translate(-80px, -80px);
}
