.root {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color-html: #FF3D00;
    --animation-color-css: #304FFE;
    --animation-color-js: #FFD740;
    --fs-size: 3em;
  }
  
  .container {
    background-color: #212121;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    background: royalblue;
  }
  
  .ul {
    padding-top: 2rem;
    
  }
  
  .ul .li {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Bruno Ace SC', cursive;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    cursor: pointer;
  }
  
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    width: 0%;
    inset: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
  
  .ul .li:nth-child(1) .hover-text {
    color: var(--animation-color-html);
    border-right: var(--border-right) solid var(--animation-color-html);
    -webkit-text-stroke: 1px var(--animation-color-html);
  }
  
  .ul .li:nth-child(2) .hover-text {
    color: var(--animation-color-css);
    border-right: var(--border-right) solid var(--animation-color-css);
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .ul .li:nth-child(3) .hover-text {
    color: var(--animation-color-js);
    border-right: var(--border-right) solid var(--animation-color-js);
    -webkit-text-stroke: 1px var(--animation-color);
  }
  
  .ul .li:hover .hover-text {
    width: 100%;
  }
  
  .ul .li:nth-child(1):hover .hover-text {
    filter: drop-shadow(0 0 25px var(--animation-color-html))
  }
  
  .ul .li:nth-child(2):hover .hover-text {
    filter: drop-shadow(0 0 25px var(--animation-color-css))
  }
  
  .ul .li:nth-child(3):hover .hover-text {
    filter: drop-shadow(0 0 25px var(--animation-color-js))
  }