.container {
  position: fixed;
  left: 0;
  width: 10px;
  padding: 10px;
  background-color: #e9a9a9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}


.sidebar {
  display: block;
  margin-bottom: 10px;
  border: none;
  background-color: #af5555;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  opacity: .9;
  transition: all 0.3s ease;
  position: absolute;
}


.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: absolute;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  transition: all 0.3s ease;
}

.button{
  display: inline-flex;
  display: flex; 
  width: 150px;
  opacity: .9;
  transition: all 0.3s ease;
}

.sidebar:hover + .button{

  overflow: visible;
}


/* Estilos cuando el mouse NO está encima del sidebar */
.sidebar:not(:hover) {
  width: 50px;
  opacity: .1;

}

.button:not(:hover) {
  opacity: .6;
  width: 0px;
}